/* Général */

* {
  padding: 0;
  margin: 0;
}

input,
textarea {
  outline: none; /* Cadre sur les input */
}
li,
a {
  text-decoration: none; /* Enlève le surligné */
  list-style-type: none;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
}

body {
  font-family: "Raleway", serif;
}

body a:link,
a:visited {
  color: black;
}

body a:hover,
a:active {
  color: #0065fc;
}

/* Icon */

.fa-star {
  color: #0065fc;
  width: 12px;
  height: 12px;
}

.fa-star.star_grey {
  color: #d9d9d9;
  width: 12px;
  height: 12px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  margin-left: 3.68%;
  padding-top: 47px;
}

header img {
  width: 96px;
  height: 29px;
  object-fit: cover;
}

/* Menu */

nav {
  margin-right: 5.34%;
}

nav a {
  font-size: 1rem;
}

nav a:link,
a:visited {
  color: black;
}

nav a:hover {
  /* color: #0065fc; */
  border-top: 2px solid #0065fc;
  padding-top: 45px;
}

#nav_subscribe a {
  /* Style pour le mot s'inscrire uniquement */
  font-weight: bold;
  color: #0065fc;
}

nav ul {
  gap: 67px;
  display: flex;
}

nav li {
  font-size: 0.813rem;
}

/* Section rechercher */
/* Formulaire */

#search {
  margin-top: 50px;
  margin-left: 3.68%;
}

#search_title p {
  margin-top: 15px;
}

#search_form {
  display: flex;
  margin-top: 19px;
  height: 51px;
}

/* Icone Maps*/

.fa-map-marker-alt {
  border-radius: 14px 0 0 14px;
  text-align: center;
  background-color: #f2f2f2;
  width: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Text Area */

#site_search {
  border-style: solid;
  border-right-style: none;
  border-color: #f2f2f2;
  border: 1;
  padding-left: 17px;
  width: 234px;
}

#search_form ::placeholder {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

/* Search Link */

#search_form_button_text {
  border-radius: 0 14px 14px 0;
  border: 0;
  background-color: #0065fc;
  color: white;
  width: 134px;
}

.search_form_button_icon {
  visibility: collapse;
}

/* Filter */

#search_filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;
  gap: 50px;
}

#search_filter h2 {
  font-size: 1.3rem;
  padding-top: 18px;
}

.filter_icon {
  position: relative;
}

.filter_icon i {
  position: absolute;
  left: -23px;
  border-radius: 25px;
  text-align: center;
  background-color: #deebff;
  color: #0065fc;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter_icon a {
  color: #0065fc;
}

.btn {
  border: 2px solid #d9d9d9;
  border-radius: 0 25px 25px 0;
  padding: 0 20px 0 40px;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  height: 50px;
}

input[type="submit"].btn:hover {
  border: 2px solid #0065fc;
  color:#deebff;
  background-color: #0065fc;
}

/* Search information */

#search_information {
  display: flex;
  margin-top: 35px;
}

#search_information_i i {
  height: 24px;
  width: 24px;
  font-size: 0.7rem;
  text-align: center;
  color: #0065fc;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search_information p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

/* Blocs Hébergements */

#lodging {
  height: 100%;
  margin-top: 37px;
  display: flex;
  justify-content: center;
}

/* Hébergements */

#lodging_marseille {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 61.11%;
}

#lodging_marseille h1 {
  margin-top: 47px;
  margin-left: 4.65%;
}

#lodging_marseille_article_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.52%;
}

#lodging_marseille_article_container h2 {
  font-size: 1rem;
}

#lodging_marseille article {
  background-color: white;
  border-radius: 20px;
  width: 17.083vw;
  height: 21.42vh;
  margin-top: 23px;
  box-shadow: 1px 1px 5px #e4e4e4;
}

#lodging_marseille article img {
  margin: 0.538vh 0.347vw 0 0.347vw;
  border-radius: 15px 15px 0 0;
  width: 16.38vw;
  height: 12.27vh;
  object-fit: cover;
}

.lodging_marseille_info {
  margin-left: 1.11vw;
}

.lodging_marseille_info p {
  margin-top: 0.753vh;
}

.lodging_marseille_info i {
  margin: 0.861vh 0.138vw 0 0;
}

#lodging_marseille h3 {
  margin: 43px 0 46px 4.65%;
}

/* Les plus populaires */

#lodging_popular {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 29.16%;
  margin-left: 2.77%;
}

#lodging_popular h1 {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 26px;
  margin-left: 9.04%;
  margin-right: 9.28%;
}

#lodging_popular h2 {
  font-size: 1.1rem;
}

#lodging_popular_article_container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 33px;
}

#lodging_popular article {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 23.819vw;
  height: 15.5vh;
  box-shadow: 1px 1px 5px #e4e4e4;
}

#lodging_popular article img {
  border-radius: 15px 0 0 15px;
  width: 8.819vw;
  height: 14.424vh;
  margin: 0.538vh 1.38vw 0.538vh 0.347vw;
  object-fit: cover;
}

.lodging_popular_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lodging_popular_info h2 {
  margin-top: 19px;
}

.lodging_popular_info p {
  margin-top: 12px;
}

.lodging_popular_info i {
  margin: 0 2px 14px 0;
}

/* Activités à Marseille*/

#activity_title {
  display: flex;
  margin: 65px 0 26px 3.68%;
}

#activity {
  width: 92.847vw;
  height: 48vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  align-content: center;
  gap: 3.125%;
}

#activity article {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #e4e4e4;
  width: 20.972vw;
}

#activity article img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activity_h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6.29%;
  height: 100%;
}

.activity_vieuxPort_parcNational {
  height: 48vh;
}
.activity_vieuxPort_parcNational img {
  height: 41.98vh;
}

#activity_fortPomegues {
  height: 26.33vh;
}
#activity_fortPomegues img {
  height: 20.11vh;
}

#activty_ilesFrioul {
  height: 18.44vh;
}
#activty_ilesFrioul img {
  height: 12.22vh;
}

#activity_notreDameGarde {
  height: 21.78vh;
}
#activity_notreDameGarde img {
  height: 15.56vh;
}

#activty_parcLongchamp {
  height: 23.22vh;
}
#activty_parcLongchamp img {
  height: 17vh;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  height: 23.46vh;
  margin-top: 6.458vh;
  padding-left: 3.472vw;
  gap: 15.76%;
}

footer h3 {
  margin: 0;
  padding: 0;
}

footer ul {
  margin-top: 2.475vh;
}
