/* Général */

* {
  padding: 0;
  margin: 0;
}

input,
textarea {
  outline: none; /* Cadre sur les input */
}
li,
a {
  text-decoration: none; /* Enlève le surligné */
  list-style-type: none;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
}

body {
  font-family: "Raleway", serif;
}

body a:link,
a:visited {
  color: black;
}

body a:hover,
a:active {
  color: #0065fc;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  margin-left: 5vw;
  margin-top: 4vh;
}

header img {
  width: 96px;
  height: 29px;
  object-fit: cover;
}

/* Menu */

nav {
  margin-right: 5vw;
}

nav a {
  font-size: 1rem;
}

nav a:link,
a:visited {
  color: black;
}

nav a:hover {
  color: #0065fc;
  border-top: 2px solid;
  padding-top: 3.806vh;
}

#nav_subscribe a {
  /* Style pour le mot s'inscrire uniquement */
  font-weight: bold;
  color: #0065fc;
}

nav ul {
  gap: 67px;
  display: flex;
}

nav li {
  font-size: 0.813rem;
}

/* Section rechercher */
/* Formulaire */

#search {
  margin-top: 50px;
  margin-left: 5vw;
}

#search_title p {
  margin-top: 15px;
}

#search_form {
  display: flex;
  margin-top: 19px;
  height: 51px;
}

/* Icone Maps*/

.fa-map-marker-alt {
  border-radius: 14px 0 0 14px;
  text-align: center;
  background-color: #f2f2f2;
  width: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Text Area */

#site_search {
  border-style: solid;
  border-right-style: none;
  border-color: #f2f2f2;
  border: 1;
  padding-left: 17px;
  width: 234px;
}

#search_form ::placeholder {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

/* Search Link */

#search_form_button_text {
  border-radius: 0 14px 14px 0;
  border: 0;
  background-color: #0065fc;
  color: white;
  width: 134px;
}

.search_form_button_icon {
  visibility: collapse;
}

/* Filter */

#search_filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;
  gap: 50px;
}

#search_filter h2 {
  font-size: 1.3rem;
  padding-top: 18px;
}

.filter_icon {
  position: relative;
}

.filter_icon i {
  position: absolute;
  left: -21px;
  border-radius: 25px;
  text-align: center;
  background-color: #deebff;
  color: #0065fc;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter_icon input {
  border-radius: 0 25px 25px 0;
  border: 2px;
  border-style: solid;
  border-left-style: none;
  border-color: #d9d9d9;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  height: 50px;
  padding: 0 20px 0 40px;
}

/* Search information */

#search_information {
  display: flex;
  margin-top: 35px;
}

#search_information i {
  font-size: 0.7rem;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 1rem;
  text-align: center;
  color: #0065fc;
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search_information p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

/* Blocs Hébergements */

#lodging {
  height: 69.56vh;
  margin-top: 37px;
  display: flex;
  justify-content: center;
}

/* Hébergements */

#lodging_marseille {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 61.11vw;
}

#lodging_marseille h1 {
  margin-top: 47px;
  margin-left: 4vw;
}

#lodging_marseille_article_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
}

#lodging_marseille_article_container h2 {
  font-size: 1rem;
}

#lodging_marseille article {
  background-color: white;
  border-radius: 20px;
  width: 17vw;
  height: 22vh;
  margin-top: 23px;
  box-shadow: 1px 1px 5px #e4e4e4;
}

#lodging_marseille article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 15px 0 0;
  width: 16.6vw;
  height: 13vh;
  padding-top: 5px;
  object-fit: cover;
}

.lodging_marseille_info {
  margin-top: 0.5vh;
  margin-left: 16px;
}

.lodging_marseille_info p {
  margin-top: 0.5vh;
}

.lodging_marseille_info i {
  margin-top: 0.5vh;
  color: #0065fc;
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.fa-star.star_grey {
  color: #d9d9d9; /* Icon Gris */
}

#lodging_marseille h3 {
  margin-top: 4vh;
  margin-left: 4vw;
}

/* Les plus populaires */

#lodging_popular {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 26.39vw;
  margin-left: 2.78vw;
}

#lodging_popular h1 {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 26px;
  margin-left: 1.8vw;
  margin-right: 1.8vw;
}

#lodging_popular h2 {
  font-size: 1.1rem;
}

#lodging_popular_article_container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 33px;
}

#lodging_popular article {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 24vw;
  height: 16vh;
  /* margin-top: 26px; */
  box-shadow: 1px 1px 5px #e4e4e4;
}

#lodging_popular article img {
  border-radius: 15px 0 0 15px;
  width: 9vw;
  height: 15.3vh;
  margin-top: 0.3vh;
  margin-left: 0.2vw;
  object-fit: cover;
}

.lodging_popular_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 21px;
}

.lodging_popular_info h2 {
  margin-top: 10%;
}

.lodging_popular_info p {
  margin-top: 3%;
}

.lodging_popular_info i {
  margin-bottom: 8%;
  color: #0065fc;
}

.loging_popular_info_star {
}

/* Activités à Marseille*/

#activity_title {
  display: flex;
  margin-top: 65px;
  margin-left: 5vw;
  margin-bottom: 26px;
}

#activity {
  width: 92.85vw;
  height: 49.56vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  align-content: center;
  gap: 2vw;
}

#activity article {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #e4e4e4;
  width: 20.97vw;
}

#activity article img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activity_h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1vw;
  height: 100%;
}

.activity_vieuxPort_parcNational {
  height: 49.56vh;
}
.activity_vieuxPort_parcNational img {
  height: 43.33vh;
}

#activity_fortPomegues {
  height: 26.33vh;
}
#activity_fortPomegues img {
  height: 20.11vh;
}

#activty_ilesFrioul {
  height: 18.44vh;
}
#activty_ilesFrioul img {
  height: 12.22vh;
}

#activity_notreDameGarde {
  height: 21.78vh;
}
#activity_notreDameGarde img {
  height: 15.56vh;
}

#activty_parcLongchamp {
  height: 23.22vh;
}
#activty_parcLongchamp img {
  height: 17vh;
}

/* Footer */

footer {
  margin-top: 61px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  gap: 227px;
  height: 218px;
  padding-left: 5vw;
}

footer h3 {
  margin: 0;
  padding: 0;
}

footer ul {
  margin-top: 23px;
}
