/* Général */

* {
  padding: 0;
  margin: 0;
}

input,
textarea {
  outline: none; /* Cadre sur les input */
}
li,
a {
  text-decoration: none; /* Enlève le surligné */
  list-style-type: none;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
}

body {
  font-family: "Raleway", serif;
}

body a:link,
a:visited {
  color: black;
}

body a:hover,
a:active {
  color: #0065fc;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

/* Icon */

.fa-star {
  color: #0065fc;
  width: 12px;
  height: 12px;
}

.fa-star.star_grey {
  color: #d9d9d9;
  width: 12px;
  height: 12px;
}

/* Header */

header {
  display: flex;
  margin-left: 50px;
}

header img {
  padding-top: 43px;
  width: 96px;
  height: 29px;
  object-fit: fill;
}

/* Menu */

nav {
  padding-top: 51px;
  margin-left: 834px;
}

nav a {
  font-size: 1rem;
}

nav a:link,
a:visited {
  color: black;
}

nav a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 49px;
}

#nav_subscribe a {
  /* Style pour le mot s'inscrire uniquement */
  font-weight: bold;
  color: #0065fc;
}

nav ul {
  gap: 68px;
  display: flex;
}

nav li {
  font-size: 0.813rem;
}

/* Section rechercher */
/* Formulaire */

#search {
  margin-top: 50px;
  margin-left: 50px;
}

#search_title p {
  margin-top: 15px;
}

#search_form {
  display: flex;
  margin-top: 19px;
  height: 51px;
}

/* Icone Maps*/

.fa-map-marker-alt {
  border-radius: 14px 0 0 14px;
  text-align: center;
  background-color: #f2f2f2;
  width: 51px;
  height: 51px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Text Area */

#site_search {
  border: 1px solid #f2f2f2;
  border-right-style: none;
  padding-left: 17px;
  width: 234px;
}

#search_form ::placeholder {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

/* Search Link */

#search_form_button_text {
  border-radius: 0 14px 14px 0;
  border: 0;
  background-color: #0065fc;
  color: white;
  width: 134px;
}

#search_form_button_text:hover {
  background-color: #deebff;
  color: #0065fc;
  font-weight: bold;
}

.search_form_button_icon {
  visibility: collapse;
}

/* Filter */

#search_filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;
  gap: 49px;
}

#search_filter h2 {
  font-size: 1.3rem;
  height: 50px;
  display: flex;
  align-items: center;
}

.filter_icon {
  position: relative;
}

.filter_icon i {
  position: absolute;
  left: -25px;
  border-radius: 25px;
  text-align: center;
  background-color: #deebff;
  color: #0065fc;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter_icon a {
  color: #0065fc;
}

.btn {
  border: 2px solid #d9d9d9;
  border-radius: 0 25px 25px 0;
  padding: 0 20px 0 40px;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  height: 50px;
}

input[type="submit"].btn:hover {
  border: 2px solid #0065fc;
  color: #deebff;
  background-color: #0065fc;
}

/* Search information */

#search_information {
  display: flex;
  margin-top: 35px;
}

#search_information_i i {
  height: 24px;
  width: 24px;
  font-size: 0.7rem;
  text-align: center;
  color: #0065fc;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search_information p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

/* Blocs Hébergements */

#lodging {
  margin-top: 37px;
  margin-left: 50px;
  display: flex;
}

/* Hébergements */

#lodging_marseille {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 880px;
}

#lodging_marseille h1 {
  margin-top: 47px;
  margin-left: 41px;
}

#lodging_marseille_article_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
  margin-top: 23px;
}

#lodging_marseille_article_container h2 {
  font-size: 1rem;
}

#lodging_marseille article {
  background-color: white;
  border-radius: 20px;
  width: 246px;
  height: 199px;
  box-shadow: 1px 1px 5px #e4e4e4;
}

#lodging_marseille article img {
  margin: 5px 5px 0 5px;
  border-radius: 15px 15px 0 0;
  width: 236px;
  height: 114px;
  object-fit: cover;
}

.lodging_marseille_info {
  margin-left: 16px;
}

.lodging_marseille_info p {
  margin-top: 7px;
}

.lodging_marseille_info i {
  margin: 8px 2px 0 0;
}

#lodging_marseille h3 {
  margin: 43px 0 46px 44px;
}

/* Les plus populaires */

#lodging_popular {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 420px;
  margin-left: 40px;
}

#lodging_popular h1 {
  display: flex;
  justify-content: space-between;
  margin: 46px 39px 26px 38px;
}

#lodging_popular h2 {
  font-size: 1.1rem;
}

#lodging_popular_article_container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 33px;
}

#lodging_popular article {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 343px;
  height: 144px;
  box-shadow: 1px 1px 5px #e4e4e4;
}

#lodging_popular article img {
  border-radius: 15px 0 0 15px;
  width: 127px;
  height: 134px;
  margin: 5px 21px 5px 5px;
  object-fit: cover;
}

.lodging_popular_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lodging_popular_info h2 {
  margin-top: 19px;
}

.lodging_popular_info p {
  margin-top: 12px;
}

.lodging_popular_info i {
  margin: 0 2px 14px 0;
}

/* Activités à Marseille*/

#activity_title {
  display: flex;
  margin: 65px 0 26px 50px;
}

#activity {
  margin-left: 50px;
  width: 1337px;
  height: 446px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 43px;
}

#activity article {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #e4e4e4;
  width: 302px;
}

#activity article img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activity_h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 19px;
  height: 100%;
}

.activity_vieuxPort_parcNational {
  height: 446px;
}
.activity_vieuxPort_parcNational img {
  height: 390px;
}

#activity_fortPomegues {
  height: 237px;
}
#activity_fortPomegues img {
  height: 181px;
}

#activty_ilesFrioul {
  height: 165px;
}
#activty_ilesFrioul img {
  height: 109px;
}

#activity_notreDameGarde {
  height: 194px;
}
#activity_notreDameGarde img {
  height: 140px;
}

#activty_parcLongchamp {
  height: 209px;
}
#activty_parcLongchamp img {
  height: 153px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  height: 218px;
  margin-top: 60px;
  padding-left: 50px;
  gap: 227px;
}

footer h3 {
  margin: 0;
  padding: 0;
}

footer ul {
  margin-top: 23px;
}
