@media (max-width: 599px) {
  #container {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  header {
    margin-left: 20px;
  }

  header img {
    padding-top: 32px;
  }

  /* Menu S'inscrire */

  nav {
    padding-top: 0;
    margin-left: 0;
  }

  #nav_subscribe {
    position: absolute;
    top: 43px;
    right: -40px;
    border-bottom: 0;
  }

  /* Menu hébergement et activité */

  #nav_lodging {
    position: absolute;
    top: 100px;
    left: 0;
    height: 32px;
  }

  #nav_activity {
    position: absolute;
    top: 100px;
    right: 0;
    height: 32px;
  }

  nav a:hover,
  a:active {
    border-top: 0;
    padding-top: 0;
  }

  nav li {
    margin-left: 0;
    width: 50%;
    height: 32px;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
  }

  nav li:hover,
  li:active {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 0;
  }

  /* Search */

  #search {
    margin-top: 107px;
    margin-left: 0;
  }

  #search_title {
    margin-left: 20px;
  }

  #search_form {
    display: flex;
    margin: 0 auto;
    margin-top: 35px;
    width: 333px;
    height: 51px;
  }

  /* Icon */

  .fa-map-marker-alt {
    /* Icon Maps */
    border-radius: 14px 0 0 14px;
    width: 52px;
    height: 51px;
  }

  #site_search {
    width: 230px;
  }

  /* Search Link */

  #search_form_button_text {
    /* Cacher le bouton texte rechercher */
    visibility: collapse;
    width: 0;
  }

  .fa-search.search_form_button_icon {
    /* Icon Search */
    border-radius: 0 14px 14px 0;
    visibility: visible;
    background-color: #0065fc;
    color: white;
    width: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  /* Filter */

  #search_filter {
    padding-left: 36px;
    margin-top: 36px;
    gap: 0px;
  }

  #search_filter h2 {
    height: auto;
    padding-top: 0px;
    width: 100vw;
    position: relative;
    left: -5vw;
  }

  .filter_icon {
    margin-right: 28px;
    margin-top: 13px;
  }

  #search_information {
    margin-left: 20px;
  }

  #search_information p {
    font-size: 1rem;
  }

  /* Blocs Hébergements */

  #lodging {
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }

  /* Popular */

  #lodging_popular {
    display: flex;
    flex-wrap: wrap;
    order: -1;
    border-radius: 0;
    width: 100%;
    height: 580px;
    margin: 39px 0 0 0;
  }

  #lodging_popular_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #lodging_popular_title h1 {
    display: flex;
    width: 100%;
    margin: 43px 20px 26px 21px;
  }

  #lodging_popular_article_container {
    display: block;
    margin: 0 auto;
    display: flex;
    gap: 11px;
    padding-bottom: 37px;
  }

  #lodging_popular article {
    width: 334px;
    height: 144px;
  }

  #lodging_popular article img {
    width: 127px;
    height: 134px;
    margin: 5px 21px 0 5px;
  }

  .lodging_popular_info h2 {
    margin-top: 19px;
  }

  .lodging_popular_info p {
    margin-top: 12px;
  }

  .lodging_popular_info i {
    margin: 0 2px 14px 0;
  }

  /* Hébergements à Marseille */

  #lodging_marseille {
    background-color: white;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }

  #lodging_marseille h1 {
    margin: 41px 0 0 21px;
  }

  #lodging_marseille_article_container {
    margin-top: 19px;
    gap: 12px;
  }

  #lodging_marseille article {
    width: 335px;
    height: 199px;
  }

  #lodging_marseille article img {
    width: 325px;
    height: 114px;
    margin: 5px 0 0 5px;
  }

  .lodging_marseille_info {
    margin-left: 16px;
  }

  .lodging_marseille_info p {
    margin-top: 7px;
    font-size: 0.8rem;
  }

  .lodging_marseille_info i {
    margin: 8px 2px 0 0;
  }

  #lodging_marseille h3 {
    margin: 34px 0 0 20px;
  }

  /* Activités à Marseille*/

  #activity_title {
    margin: 58px 0 0 22px;
  }

  #activity {
    margin: 32px 0 0 0;
    height: 100%;
    width: 100%;
    gap: 24px;
  }

  #activity article {
    display: block;
    margin: 0 auto;
    width: 334px;
    height: 190px;
  }

  #activity article img {
    width: 334px;
    height: 134px;
  }

  .activity_h2 {
    margin-left: 20px;
    height: 50px;
  }

  footer {
    justify-content: center;
    margin-top: 49px;
  }

  #footer_container {
    width: 100%;
    height: 486px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 29px;
    gap: 46px;
  }

  footer h3 {
    margin-bottom: 23px;
  }

  footer ul {
    margin-top: 0px;
  }
}
