@media (max-width: 768px) {
    header {
        margin-left: 0;
        flex-wrap: wrap;
    }

    header img {
        margin-left: 1.25rem;
    }

    /* Menu S'inscrire */

    #nav_subscribe {
        position: absolute;
        top: 2.688rem;
        right: 1.313rem;
        width: auto;
        border-bottom: 0;
    }

    /* Menu hébergement et activité */

    #nav_lodging {
        position: absolute;
        top: 8.063rem;
        left: 0;
        height: 2rem;
    }

    #nav_activity {
        position: absolute;
        top: 8.063rem;
        right: 0;
        height: 2rem;
    }

    nav a:hover, a:active {
        border-top: 0;
        padding-top: 0;
    }

    nav li {
        margin-left: 0;
        width: 50%;
        height: 2rem;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li:hover, li:active {
        border-bottom: 3px solid #0065fc;    
        padding-bottom: 1.75rem;
    }

    /* Search */

    #search {
        margin-top: 6.688rem;
        margin-left: 1.25rem;
    }

    #search_form {
        display: flex;
        margin: 0 auto; /* Centrer le bloc de recherche */
        margin-top: 2.188rem;
        width: 18.813rem;
        height: 2.875rem;
    }

    /* Icon */

    .fa-map-marker-alt { /* Icon Search */
        border-radius: 14px 0 0 14px;
        width: 47px;
    }

    #site_search {
        width: 12.938rem;
    }

    /* Search Link */

    #search_form button {
        visibility: hidden;
    }

    .fa-search.search_form_button_icon {
        border-radius: 0 14px 14px 0;
        visibility: visible;
        background-color: #0065fc;
        color: white;
        width: 47px;
        padding: 16px;
        margin-left: -134px;
    }

    /* Filter */

    #search_filter {
        margin-top: 0;
        margin-left: 0;
        width: 20.5rem;
        display: flex;
        flex-wrap: wrap;
    }

    #search_filter h2 {
        width: 20.5rem;
    }

    .input-icon {
        margin-top: 18px;
        margin-left: 1.25rem;   
    }

    #search_information i {
        height: 1.5rem;
        width: 1.875rem;
    }

    /* Hébergements */

    #lodging {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    /* Les plus populaires */
    
    #lodging_popular {
        display: flex;
        flex-wrap: wrap;
        order: -1;
        border-radius: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    #lodging_popular_title {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #lodging_popular_title h1 {
        display: flex;
        width: 100%;
    }

    #lodging_popular_article_container {
        display: block;
        margin: 0 auto;
        margin-bottom: 2.313rem;
    }

    /* Hébergements à Marseille */

    #lodging_marseille {
        background-color: white;
        border-radius: 0;
        width: 100%;
        height: 100%;
        margin-top: 2.563rem;
    }

    #lodging_marseille article {
        width: 20.938rem;
        height: 12.438rem;
    }

    #lodging_marseille article img {
        width: 20.313rem;
        height: 7.125rem;
    }

    /* Activités à Marseille*/

    #activity_title {
        margin-top: 3.625rem;
        margin-left: 1.25rem;    
    }

    #activity {
        margin-top: 2rem;
        margin-left: 0;
        height: 100%;
        width: 100%;
    }

    #activity article {
        display: block;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        width: 20.875rem;
        height: 11.875rem;
    }

    #activity article img {
        width: 20.875rem;
        height: 8.375rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 30.375rem;
        margin-top: 3.063rem;
        padding-top: 3.063rem;
        padding-left: 2rem;
    }
}