@media (max-width: 768px) {
  header {
    margin-left: 5vw;
    margin-top: 4.80vh;
  }

  nav {
      position: unset;
  }

  /* Menu S'inscrire */

  #nav_subscribe {
    position: absolute;
    top: 6.45vh;
    right: 0;
    border-bottom: 0;
  }

  /* Menu hébergement et activité */

  #nav_lodging {
    position: absolute;
    top: 14.99vh;
    left: 0;
    height: 2rem;
  }

  #nav_activity {
    position: absolute;
    top: 14.99vh;
    right: 0;
    height: 2rem;
  }

  nav a:hover,
  a:active {
    border-top: 0;
    padding-top: 0;
  }

  nav li {
    margin-left: 0;
    width: 50%;
    height: 2rem;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
  }

  nav li:hover,
  li:active {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 0rem;
  }

  /* Search */

  #search {
    margin-top: 6.688rem;
    margin-left: 1.25rem;
  }

  #search_form {
    display: flex;
    margin: 0 auto; /* Centrer le bloc de recherche */
    margin-top: 2.188rem;
    width: 334px;
    height: 2.875rem;
  }

  /* Icon */

  .fa-map-marker-alt {
    /* Icon Maps */
    border-radius: 14px 0 0 14px;
    width: 52px;
  }

  #site_search {
    width: 230px;
  }

  /* Search Link */

  #search_form_button_text {
    /* Cacher le bouton texte rechercher */
    visibility: collapse;
    width: 0;
  }

  .fa-search.search_form_button_icon {
    /* Icon Search */
    border-radius: 0 14px 14px 0;
    visibility: visible;
    background-color: #0065fc;
    color: white;
    width: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  /* Filter */

  #search_filter {
    margin-top: 0;
    margin-left: 0;
    width: 20.5rem;
    display: flex;
    flex-wrap: wrap;
  }

  #search_filter h2 {
    width: 20.5rem;
  }

  .filter_icon {
    /* Icon Filtres */
    margin-top: 18px;
    margin-left: 1.25rem;
  }

  #search_information i {
    /* Icon i "plus de 500 logements" */
    height: 1.5rem;
    width: 1.875rem;
  }

  /* Blocs Hébergements */

  #lodging {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  #lodging_popular {
    display: flex;
    flex-wrap: wrap;
    order: -1;
    border-radius: 0;
    width: 100%;
    height: 86.96vh;
    margin-left: 0;
  }

  #lodging_marseille {
    background-color: white;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin-top: 2.563rem;
  }

  /* Popular */

  #lodging_popular_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #lodging_popular_title h1 {
    padding-top: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    width: 100%;
  }

  #lodging_popular_article_container {
    display: block;
    margin: 0 auto;
    margin-bottom: 2.313rem;
  }

  #lodging_popular article {
    width: 89.07vw;
    height: 21.59vh;
  }

  #lodging_popular article img {
    width: 33.87vw;
    height: 20.09vh;
  }

  /* Hébergements à Marseille */

  #lodging_marseille article {
    padding: 0.2rem;
    width: 89.33vw;
    height: 29.84vh;
  }

  #lodging_marseille article img {
    width: 89.33vw;
    height: 17.09vh;
  }

  /* Activités à Marseille*/

  #activity_title {
    margin-top: 3.625rem;
    margin-left: 1.25rem;
  }

  #activity {
    margin-top: 2rem;
    margin-left: 0;
    height: 100%;
    width: 100%;
  }

  #activity article {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 20.875rem;
    height: 11.875rem;
  }

  #activity article img {
    width: 20.875rem;
    height: 8.375rem;
  }

  #activity h2 {
    margin-left: 4vw;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 72.86vh;
    padding-left: 7.73vw;
    margin-top: 3vh;
  }
}

@media (min-width: 768px; max-width: 1280px) {
  #search_filter {
    width: 90%;
  }

  #lodging {
    margin-left: 1rem;
  }

  #lodging_marseille {
    width: 34rem;
  }

  #lodging_marseille h1,
  h3 {
    padding-top: 1.4rem;
    padding-left: 1.5rem;
    padding-bottom: 1.4rem;
  }

  #lodging_popular {
    margin-left: 1rem;
    width: 23rem;
  }

  #lodging_popular_title h1 {
    padding-top: 1.4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  #activity {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 0 auto;
  }

  #activity article {
    margin-bottom: 1.5rem;
    width: 18rem;
    height: 11.875rem;
  }

  #activity article img {
    width: 18rem;
    height: 8.375rem;
  }
}
