/* Universal CSS */

*,*:before, *:after {
    box-sizing: border-box ; 
    padding: 0 ;
    margin: 0 ;  
}

input,textarea {
    outline:none
}

button,input[type="submit"]{
    outline:none;
    border:none;
}

li, a {
    text-decoration:none;
}

/* General */

body {
    font-family: 'Raleway', serif;
    font-size: 13px;
    /* display: flex;
    justify-content: center;  */
}

#container {
	width: 100%;
	max-width: 1440px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
}

p {
    font-size: 17px;
}

body a:link, a:visited {
    color: black;
    }
    
body a:hover, a:active {
    color: #0065fc;    
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
}

header img {
    width: 97px;
    height: 45px;
    margin-top: 44px;
}

/* nav */

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    margin-top: 51px;
    margin-right: 77px;
}

nav li {
    list-style-type: none;
    margin-left: 67px;
}

/* Liens du menu */
nav a:link, a:visited {
    color: black;
    }
    
nav a:hover, a:active {
    color: #0065fc;    
    border-top: 2px solid;
    padding-top: 61px;
}

/* Section rechercher */
/* Formulaire */

#search {
    margin-top: 42px;
    margin-left: 55px;
}

#search_form {
    display: flex;
    margin-top: 23px;
    height: 52px;
    width: 420px;
}

.fa-map-marker-alt {
    border-radius: 14px 0px 0px 14px;
    text-align: center;
    background-color: #f2f2f2;
    height: 52px;
    width: 52px;
    padding: 20px;
}

#search_form input {
    border-style: solid;
    border-right-style: none;
    border-color:#9c9c9c;
    opacity: 0.1;
    border: 1;
    height: 100%;
    width: 234px;
}

#search_form button {
    border-radius: 0px 14px 14px 0px;
    border: 0;
    background-color: #0065fc;
    color: white;
    height: 100%;
    width: 134px;
}

/* Filter */

#search_filter {
    margin-top: 31px;
    width: 929px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#search_filter h2 {
    padding-top: 17px;
}

.input-icon {
    position:relative;
}

.input-icon i {
    position:absolute;
    left:-21px;
    border-radius: 25px;
    text-align: center;
    background-color: #deebff;
    color: #0065fc;
    height: 50px;
    width: 50px;
    padding: 19px;
}

.input-icon input {
    border-radius: 0px 25px 25px 0px;
    border: 2px;
    border-style: solid;
    border-left-style: none;
    border-color:#d9d9d9;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    height: 100%;
    padding: 0 20px 0 40px; 
}

/* Search information */

#search_information {
    display: flex;
    margin-top: 35px;
}

#search_information i {
    border : 1px solid;
    border-color: #d9d9d9;
    border-radius: 12px;
    text-align: center;
    color: #0065fc;
    height: 24px;
    width: 24px;
    padding: 5px;
}

#search_information p {
    margin-left: 12px;
}

/* Hébergements à Marseille */

#lodging {
    display: flex;
    margin-top: 40px;
    margin-left: 55px;
}

#lodging_marseille {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 880px;
    height: 626px;
}

#lodging_marseille h1, h3 {
    padding-top: 47px;
    padding-left: 40px;
}

#lodging_marseille_article_container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

#lodging_marseille article {
    background-color: white;
    border-radius: 20px;
    width: 246px;
    height: 199px;
    margin-top: 27px;
    box-shadow: 1px 1px 5px #e4e4e4;
}

#lodging_marseille article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px 15px 0 0;
    width: 236px;
    height: 114px;
    padding-top: 5px;
    object-fit: cover;
}

.lodging_marseille_info {
    margin-top: 12px;
    margin-left: 16px;
}

.lodging_marseille_info i {
    margin-top: 10px;
    color: #0065fc;
}

.fa-star.star_grey {
    color: #d9d9d9;
}

/* Les plus populaires */

#lodging_popular {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 420px;
    height: 626px;
    margin-left: 40px;
}

#lodging_popular_title h1{
    padding-top: 47px;
    display: flex;
    justify-content: space-around;
}

#lodging_popular_article_container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#lodging_popular article {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 343px;
    height: 144px;
    margin-top: 27px;
    box-shadow: 1px 1px 5px #e4e4e4;
}

#lodging_popular article img {
    border-radius: 15px 0 0px 15px;
    width: 127px;
    height: 134px;
    margin: 5px;
    object-fit: cover;
}

.lodging_popular_info {
    margin-top: 12px;
    margin-left: 16px;
}

.lodging_popular_info i {
    margin-top: 10px;
    color: #0065fc;
}

/* Activités à Marseille*/

#activity_title {
    display: flex;
    margin-top: 65px;
    margin-left: 55px;    
}

#activity {
    height: 446px;
    width: 1340px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 26px;
    margin-left: 55px;
}

#activity article {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #e4e4e4;
}

.activity_vieuxPort_parcNational {
    width: 302px;
    height: 446px;
}

.activity_vieuxPort_parcNational img {
    border-radius: 20px 20px 0 0;
    width: 302px;
    height: 390px;
    object-fit: cover;
}

#activity_fortPomegues {
    width: 302px;
    height: 237px;
}

#activity_fortPomegues img {
    border-radius: 20px 20px 0 0;
    width: 302px;
    height: 181px;
    object-fit: cover;
}

#activty_ilesFrioul {
    width: 302px;
    height: 166px;
}

#activty_ilesFrioul img {
    border-radius: 20px 20px 0 0;
    width: 302px;
    height: 110px;
    object-fit: cover;
}

#activity_notreDameGarde {
    width: 302px;
    height: 196px;
}

#activity_notreDameGarde img {
    border-radius: 20px 20px 0 0;
    width: 302px;
    height: 140px;
    object-fit: cover;
}

#activty_parcLongchamp {
    width: 302px;
    height: 209px;
}

#activty_parcLongchamp img {
    border-radius: 20px 20px 0 0;
    width: 302px;
    height: 153px;
    object-fit: cover;
}

#activity h2 {
    margin-top: 18px;
    margin-left: 20px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-evenly;
    height: 218px;
    background-color: #f2f2f2;
    margin-top: 60px;
    padding-top: 52px;
}

footer h3 {
    margin-left: 0px;
}

footer ul {
    margin-top: 29px;
}

footer li {
    list-style-type: none;
}

footer h3 {
    margin: 0;
    padding: 0;
}