@media (min-width: 600px) and (max-width: 1365px) {
  #container {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  header {
    margin-left: 33px;
  }

  header img {
    padding-top: 51px;
  } 

  /* Menu S'inscrire */

  nav {
    padding-top: 0;
    margin-right: 0;
  }

  #nav_subscribe {
    position: absolute;
    top: 68px;
    right: -40px;
    border-bottom: 0;
  }

  /* Menu hébergement et activité */

  #nav_lodging {
    position: absolute;
    top: 159px;
    left: 0;
    height: 46px;
  }

  #nav_activity {
    position: absolute;
    top: 159px;
    right: 0;
    height: 46px;
  }

  nav a:hover,
  a:active {
    border-top: 0;
    padding-top: 0;
  }

  nav li {
    margin-left: 0;
    width: 50%;
    height: 46px;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
  }

  nav li:hover,
  li:active {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 0;
  }

  /* Search */

  #search {
    margin-top: 169px;
    margin-left: 0;
  }

  #search_title {
    margin-left: 31px;
  }

  #search_title h1{
    font-size: 1.3rem;
  }

  #search_form {
    display: flex;
    margin: 0 auto;
    margin-top: 55px;
    width: 534px;
    height: 82px;
  }

  /* Icon */

  .fa-map-marker-alt {
    /* Icon Maps */
    border-radius: 14px 0 0 14px;
    width: 84px;
    height: 82px;
  }

  #site_search {
    width: 367px;
    padding-left: 27px;
  }

  /* Search Link */

  #search_form_button_text {
    /* Cacher le bouton texte rechercher */
    visibility: collapse;
    width: 0;
  }

  .fa-search.search_form_button_icon {
    /* Icon Search */
    border-radius: 0 14px 14px 0;
    visibility: visible;
    background-color: #0065fc;
    color: white;
    width: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  /* Filter */
  
  #search_filter {
    padding-left: 50px;
    margin: 32px 0 0 0;
    gap: 42px;
  }

  #search_filter h2 {
    height: auto;
    padding-top: 0px;
    width: 100vw;
    position: relative;
    left: -4vw;
  }

  #search_information {
    margin-left: 18px;
  }

  /* Blocs Hébergements */

  #lodging {
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }

  /* Popular */

  #lodging_popular {
    display: flex;
    flex-wrap: wrap;
    order: -1;
    border-radius: 0;
    width: 100%;
    margin: 63px 0 0 0;
  }

  #lodging_popular_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #lodging_popular_title h1 {
    display: flex;
    width: 100%;
    margin: 68px 30px 0 33px;
  }

  #lodging_popular_article_container {
    display: block;
    margin: 0 auto;
    display: flex;
    gap: 16px;
    padding-bottom: 59px;
  }

  #lodging_popular article {
    width: 534px;
    height: 230px;
    margin-top: 3.75vh;
  }

  #lodging_popular article img {
    width: 203px;
    height: 215px;
    margin: 8px 32px 0 8px;
  }

  .lodging_popular_info h2 {
    margin-top: 30px;
  }
  
  .lodging_popular_info p {
    margin-top: 20px;
  }
  
  .lodging_popular_info i {
    margin: 0 2px 22px 0;
  }

  /* Hébergements à Marseille */

  #lodging_marseille {
    background-color: white;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }

  #lodging_marseille h1 {
    margin-left: 33px;
  }

  #lodging_marseille article {
    width: 536px;
    height: 319px;
  }

  #lodging_marseille article img {
    width: 522px;
    height: 183px;
  }

  .lodging_marseille_info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 26px;
  }
  
  .lodging_marseille_info p {
    margin-top: 10px;
    font-size: 0.8rem;
  }
  
  .lodging_marseille_info i {
    margin: 11px 2px 0 0;
  }

  #lodging_marseille h3 {
    margin-top: 55px;
    margin-left: 31px;
  }

  /* Activités à Marseille*/

  #activity_title {
    margin-top: 91px;
    margin-left: 33px;
  }

  #activity {
    margin: 51px 0 0 0;
    height: 100%;
    width: 100%;
    gap: 27px;
  }

  #activity article {
    display: block;
    margin: 0 auto;
    width: 534px;
    height: 304px;
  }

  #activity article img {
    width: 534px;
    height: 215px;
  }

  .activity_h2 {
    margin-left: 29px;
    height: 85px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 778px;
    margin-top: 78px;
    padding-left: 45px;
    gap: 0;
  }

  footer h3 {
    font-size: 1.8rem;
    margin-top: 78px;
    padding: 0;
  }

  footer ul {
    font-size: 1.6rem;
    margin-top: 35px;
  }
}
