@media (min-width: 600px) and (max-width: 1365px) {
  h1 {
    font-size: 1.3rem;
  }

  header {
    padding-top: 6.375vh;
    margin-left: 5.33vw;
  }

  /* Menu S'inscrire */

  #nav_subscribe {
    position: absolute;
    top: 8.5vh;
    right: -15vw;
    border-bottom: 0;
  }

  /* Menu hébergement et activité */

  #nav_lodging {
    position: absolute;
    top: 19.875vh;
    left: 0;
    height: 30px;
  }

  #nav_activity {
    position: absolute;
    top: 19.875vh;
    right: 0;
    height: 30px;
  }

  nav a:hover,
  a:active {
    border-top: 0;
    padding-top: 0;
  }

  nav li {
    margin-left: 0;
    width: 50%;
    height: 30px;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
  }

  nav li:hover,
  li:active {
    border-bottom: 3px solid #0065fc;
    padding-bottom: 0;
  }

  /* Search */

  #search {
    margin-top: 21.125vh;
    margin-left: 0;
  }

  #search_title {
    margin-left: 5.166vw;
  }

  #search_form {
    display: flex;
    margin: 0 auto;
    margin-top: 6vh;
    width: 90vw;
    height: 8vh;
  }

  /* Icon */

  .fa-map-marker-alt {
    /* Icon Maps */
    border-radius: 14px 0 0 14px;
    width: 8vh;
    height: 8vh;
  }

  #site_search {
    width: 61.16vw;
    padding-left: 4.5vw;
  }

  /* Search Link */

  #search_form_button_text {
    /* Cacher le bouton texte rechercher */
    visibility: collapse;
    width: 0;
  }

  .fa-search.search_form_button_icon {
    /* Icon Search */
    border-radius: 0 14px 14px 0;
    visibility: visible;
    background-color: #0065fc;
    color: white;
    width: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  /* Filter */

  #search_filter h2 {
    padding-top: 0px;
    width: 100vw;
  }

  #search_filter {
    margin: 3vh 0 0 6vw;
    gap: 20px;
  }

  .filter_icon {
    margin-left: 3vw;
  }

  #search_information {
    margin-left: 5.16vw;
  }

  /* Blocs Hébergements */

  #lodging {
    height: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }

  /* Popular */

  #lodging_popular {
    display: flex;
    flex-wrap: wrap;
    order: -1;
    border-radius: 0;
    width: 100%;
    margin-top: 4vh;
    margin-left: 0;
  }

  #lodging_popular_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #lodging_popular_title h1 {
    margin-top: 7vh;
    margin-left: 5.5vw;
    margin-right: 5.5vw;
    display: flex;
    width: 100%;
  }

  #lodging_popular_article_container {
    display: block;
    margin: 0 auto;
    margin-bottom: 7.375vh;
  }

  #lodging_popular article {
    width: 90vw;
    height: 20vh;
    margin-top: 3.75vh;
  }

  #lodging_popular article img {
    width: 35.33vw;
    height: 20vh;
    margin: 0 3vw 0 0;
  }

  .lodging_popular_info h2 {
    margin-top: 3.75vh;
  }
  
  .lodging_popular_info p {
    margin-top: 2.5vh;
  }
  
  .lodging_popular_info i {
    margin: 0 0.333vw 2.75vh 0;
  }

  /* Hébergements à Marseille */

  #lodging_marseille {
    background-color: white;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }

  #lodging_marseille h1 {
    margin-left: 5vw;
  }

  #lodging_marseille article {
    width: 90vw;
    height: 40vh;
  }

  #lodging_marseille article img {
    width: 90vw;
    height: 25vh;
  }

  .lodging_marseille_info {
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4.166vw;
  }
  
  .lodging_marseille_info p {
    margin-top: 1.375vh;
    font-size: 0.8rem;
  }
  
  .lodging_marseille_info i {
    margin: 1.375vh 0.333vw 0 0;
  }

  #lodging_marseille h3 {
    margin-top: 35px;
    margin-left: 5vw;
  }

  /* Activités à Marseille*/

  #activity_title {
    margin-top: 5vh;
    margin-left: 5vw;
  }

  #activity {
    margin-top: 32px;
    margin-left: 0;
    height: 100%;
    width: 100%;
  }

  #activity article {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    width: 90vw;
    height: 38vh;
  }

  #activity article img {
    width: 90vw;
    height: 30vh;
  }

  .activity_h2 {
    margin-left: 4vw;
    height: 7vh;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 486px;
    margin-top: 49px;
    padding-left: 5vw;

    gap: 0;
  }

  footer h3 {
    margin-top: 45px;
    padding: 0;
  }

  footer ul {
    margin-top: 26px;
  }
}
